{% extends 'base.html' %}
{% load static %}

{% block content %}




<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="cards p-3">
                <h3 class="">Наш адрес: <br></h3>
                <iframe class="w-100  rounded-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.690299507294!2d72.34894179999999!3d40.790822299999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bceb1bbda7dc43%3A0xb9c0dcff9f5782c!2sWESTER%20School%20Chinar-branch!5e0!3m2!1sru!2s!4v1720888424109!5m2!1sru!2s" height="400px"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p class="p-3"> <i class="fa-solid fs-4 fa-location-dot px-3"></i>WESTER School Chinar-branch</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="group py-3 p-2 d-flex d-sm-inline-block gap-2">
            <a href='' class="cards tg justify-content-center align-items-center d-flex w-auto mt-3"><i class="fa-brands fa-whatsapp fs-1 p-4"></i></a>
            <a href='https://t.me/@umaroff_17' class="cards tg justify-content-center align-items-center d-flex w-auto mt-3"><i class="fa-brands fa-telegram fs-1 p-4"></i></a>
            <a href='https://www.instagram.com/__umaroff__1' class="cards tg justify-content-center align-items-center d-flex w-auto mt-3"><i class="fa-brands fa-instagram fs-1 p-4"></i></a>
            <a href='' class="cards justify-content-center tg align-items-center d-flex w-auto mt-3"><i class="fa-brands fa-twitter fs-1 p-4"></i></a>
        </div>
        </div>
    </div>
</div>

<style>
  .tg{
    color: #000;
    text-decoration: none;
  }
</style>

{% endblock content %}